#header {
    margin: 0;
    height: 80px;
    background-image: url(imagens/header_image.jpg);
}

#logo {
    position:absolute;
    display: inline;
    margin: 0px;
    height:80px;
    width: 80px;
}

#logo-foto {
    position:absolute;
    display: inline;
    height:80px;
    width: 80px;
}

#menu-top {
    float: right;
    display:inline-block;
    /* width: 200px; */
    height: 100px;
    margin-top: 1%;
}

#menu-top li {
    display:inline-block;
    width: 100px;
    background-color: black;
    color: white;
    text-align: center;
    margin-right: 10px;
    padding: 2px;
    border-radius: 5px

}


body {
    background-color: rgb(37, 69, 95);
    );
}