/* font-family: 'Laila', sans-serif;
font-family: 'Playfair Display SC', serif; */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    /* font-family: 'Playfair Display SC', serif; */
}

header {}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-top: 16px;
    font-family: 'Playfair Display SC', serif;
}

#header-title {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    width: 65%;
}

#logo-header {
    max-width: 80px;
}

#header-name {
    text-transform: uppercase;
    margin-left: 15px;
    font-family: 'Playfair Display SC', serif;
}

.header-controls {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    margin-right: 40px;
}

.page-ancora-btn {
    font-family: 'Playfair Display SC', serif;
    font-size: 15px;
    font-weight: 700;
    height: 30px;
    padding: 4px 12px;
    text-transform: uppercase;
    width: 130px;
}
/* ----------------------------------------------------------------------------------------
This part of the code was based on the code located at this article: https://onaircode.com/css-gradient-button-examples/ */
.btn {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    margin: 14px;
    padding: 4px 12px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border: 0px;
    box-shadow: 2px 2px 2px black;
   }
   .btn:hover {
    background-position: right center; /* change the direction of the change here */
  }
   .btn-4 {
    background-image: linear-gradient(to right, #242527 0%, #85888a 51%, #eceff3 100%);
  }
/* End of the code from onaircode.com */
/* --------------------------------------------------------------------------------------------- */

#about-section {
    background-image: url('https://cdn.pixabay.com/photo/2018/03/10/09/45/businessman-3213659_960_720.jpg');
    background-size: cover;
    margin-top: 40px;
    margin-bottom: 40px;
    text-shadow: 2px 2px 2px black;
    font-family: 'Playfair Display SC', serif;
}

#about-section h2 {
    margin-bottom: 20px;
}

#about-container {
    display: flex;
    justify-content: space-evenly;
}

#education-container {
    width: 40%;
}

#education-list {
    height: max-content;
}

#education-list li {
    height: 30px;
}

#education-list li:hover {
    background-color: rgba(128, 128, 128, 0.575);
}

#tech-container {
    width: 60%;
    margin-left: 10%;
}

.tech-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 400px;
}

.programming-icon {
    width: 50px;
}

.tech-li {
    display: flex;
    align-items: center;
    height: 70px;
    margin-right: 20px;
}

#presentation-picture {
    background-image: url("./imagens_portfolio/Imagem3.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 500px;
    margin-top: 40px;
    text-align: left;
    width: 100%;
    font-family: 'Playfair Display SC', serif;
    font-size: 40px;
    text-shadow: 2px 2px 2px black;
}

.project-section h2 {
    font-family: 'Playfair Display SC', serif;
}

.project-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
}

.project-card {
    width: 30%;
    text-align: justify;
    font-family: 'Laila', sans-serif;
    background-color: #242527;
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.288);
}

.project-card:hover {
    width: 32%;
}

.project-card img {
    width: 100%;
}

.card-link {
    color: white;
    text-decoration: none;
    font-style: italic;
}

.card-link:hover {
    color: white;
    text-decoration: underline;
    font-style: italic;
}

.contact-section {
    background-image: url("https://cdn.pixabay.com/photo/2020/10/28/06/11/smartphone-5692533_960_720.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    min-height: 500px;
    max-height: 500px;
    margin-top: 40px;
    width: 100%;
    font-family: 'Playfair Display SC', serif;
    text-shadow: 1px 1px 1px black;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    margin-left: 40%;
    width: 60%;
}

.social-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.social-title {
    justify-self:flex-start;
}

.social-container a {
    display: flex;
    justify-content: center;
    width: 100%;
}

.social-container img {
    width: 30%;
}

.social-container img:hover {
    width: 35%;
    
}

#contact-form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 70%;
}

label {
    margin-top: 15px;
}

.input-form {
    margin-top: 4px;
    width: 80%;
}

textarea {
    resize: none;
}

.btn-submit {
    flex: 1 1 auto;
    margin-top: 14px;
    padding: 4px 12px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border: 0px;
    box-shadow: 2px 2px 2px black;
    width: 80%;
   }
   .btn-submit:hover {
    background-position: right center; /* change the direction of the change here */
  }
   .btn-5 {
    background-image: linear-gradient(to right, #242527 0%, #85888a 51%, #eceff3 100%);
  }

  footer {
    text-align: center;
  }