* {
  margin: 0;
}

:root {
  --main-bg-light-color: #F7F7F7;
  --main-bg-dark-color: #2F2F2F;
  --header-bg-light: #2F6CA4;
  --header-bg-dark: #2F2F2F;
  --text-light-color: #000000;
  --text-dark-color: #FFFFFF;
  --secound-bg-light: #FAA037;
  --secound-bg-dark: #212020;
  --text-box-light: #F0EFEF;
  --text-box-dark: #505050;
  --arrow-light: #165805;
  --arrow-dark: #FAA037;
  --full-white: #FFFFFF;
}

#presentation-light {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-bg-light-color);
  color: var(--text-light-color);
  height: 92vh;
  /* justify-content: space-between; */
}

#presentation-dark {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-bg-dark-color);
  color: var(--text-dark-color);
  height: 92vh;
}

#image-container-light {
  align-items: center;
  background-color: var(--secound-bg-light);
  display: flex;
  flex-direction: column;
  min-height: 240px;
  width: 100%;
}

#image-container-dark {
  align-items: center;
  background-color: var(--secound-bg-dark);
  display: flex;
  flex-direction: column;
  min-height: 240px;
  width: 100%;
}

#perfil-light {
  border: 4px solid #FFFFFF;
  border-radius: 50%;
  box-sizing: border-box;
  height: 200px;
  margin-top: 85px;  
  position: absolute;
  width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#perfil-dark {
  border: 4px solid #C7C7C7;
  border-radius: 50%;
  box-sizing: border-box;
  height: 200px;
  margin-top: 85px;  
  position: absolute;
  width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#description-container-light {
  width: calc(100vw - 50px);
  background-color: var(--text-box-light);
  padding: 50px 10px 10px 10px;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-light-color);
}

#description-container-dark {
  width: calc(100vw - 50px);
  background-color: var(--text-box-dark);
  padding: 50px 10px 10px 10px;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-dark-color);
}

#description-container-light p {  
  width: 100%;
  word-wrap: break-word;
  margin: 0 auto 8px auto;
  text-align: justify;
}

#description-container-dark p {  
  width: 100%;
  word-wrap: break-word;
  margin: 0 auto 8px auto;
  text-align: justify;
}

#description-container-light :nth-child(1) {
  margin: 0 auto 12px auto;
  text-align: center;
}

#description-container-dark :nth-child(1) {
  margin: 0 auto 12px auto;
  text-align: center;
}

.btn-light {
  width: 136px;
  height: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--secound-bg-light);
}

.btn-dark {
  width: 136px;
  height: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #ABAAAA;
  color: var(--text-dark-color);
}

.btn-next-section {
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  flex-grow: 1;
  
}

.arrow-down-light {
  color: var(--arrow-light);
  margin-bottom: 10px;
  animation: moveVertical 1s infinite;
  animation-direction: alternate;
}

.arrow-down-dark {
  color: var(--arrow-dark);
  animation: moveVertical 1s infinite;
  animation-direction: alternate;
}
/* Animation of the arrow was found on this site:
https://css-tricks.com/almanac/properties/t/transform/ */
@keyframes moveVertical {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 10px);
  }
}

#projects-portfolio-light {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px 0;
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: var(--main-bg-light-color);
  color: var(--text-light-color);
}

#projects-portfolio-dark {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px 0;
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: var(--main-bg-dark-color);
  color: var(--text-dark-color);
}

.project-card-light {
  width: 165px;
  height: 199px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--full-white);
}

.project-card-dark {
  width: 165px;
  height: 199px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.project-img {
  width: 153px;
  height: 175px;
  margin-left: 5px;
  margin-right: 5px;
}

.project-title {
  text-align: center;
}
